DETECTED_PIPENV=$(pipenv --venv) || EXIT_CODE=$? || true
if [ $EXIT_CODE ] && [ $EXIT_CODE -eq 1]
then
	echo "Oh no, install with pipenv --dev"
	exit 1
fi

export VIRTUAL_ENV=$DETECTED_PIPENV
export PATH="$DETECTED_PIPENV/bin:$PATH"
export PIPENV_ACTIVE=1
