[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "==3.*"
numpy = "*"
matplotlib = "*"
shapely = "*"
Pillow = "*"
ImageHash = "*"
json-stream = "*"
requests = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
